.wrap-background-acardeon {
  background-image: url('./img/BG.jpg');
  justify-content: normal;
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat;
  background-color: #DAECFF;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.main__h2 {
  box-sizing: border-box;
  padding: 16px 0 16px 0;
  font-weight: 800;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  color: #111111;
}

.acardeon-wrap {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}